@model SeanceUpdate.Models.OrdonateurG10

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrdonateurG10</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdPrenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdPrenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdFonction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdFonction)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrdCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
